/* main.css */

body {
	font-family: Helvetica, Arial, sans-serif;
	background: #ccc;
}

p {
	margin: 0;
	padding: 0;
	line-height: 1.6em;
}

table, p {
	margin-bottom: 1.6em;
}

a            { text-decoration: none; }
a, a:visited { color: blue; }
p a:hover    { 
	color: dodgerblue; 
	transition: all .10s ease-in-out;
	-moz-transition: all .10s ease-in-out;
	-webkit-transition: all .10s ease-in-out;
}

#main {
	width: 585px;
	margin: 25px 0 200px 50px;
	background: #fff;
	box-shadow: 0px 0px 10px #000;
	padding: 40px 50px 5px 50px;
}

#footer {
	text-align: center;
	font-size: 0.9em;
}

.invalid, .valid {
	font-weight: bold;
	font-family: "DejaVu Sans Mono", monospace;
}
.invalid { color: red; }
.valid { color: green; }

.ui-widget .time             { width: 22px; }
.ui-widget .time[name=month] { width: 100px; }
.ui-widget .time[name=year]  { width: 40px; }

time { font-weight: bold; }

.timebox {
	padding: 5px;
	border: 2px dotted #ddd;
	text-align: center;
	font-size: 125%;
}